<{% extends "./layouts/layout.html" %}

{% block content %}

    {% include "partials/header.html" %}

    <div class="o-container">
        <div class="c-portfolio o-layout no-gutter">
            <div class="o-layout_item c-portfolio_img-sq u-2/6@lg">
                <a href="http://www.co-operativebank.co.uk/" target="_blank"><img src="/assets/img/coop-bank-white.svg" alt="Co-operative bank logo"></a>
            </div>
            <div class="o-layout_item c-portfolio_body-sq u-3/6@lg u-4/6@sm">
                <h2><a href="http://www.co-operativebank.co.uk/" target="_blank">The Co-operative Bank</a></h2>
                <p></p>
            </div>
            <div class="o-layout_item c-portfolio_body-sq u-2/6@sm u-1/6@lg">
                <ul>
                    <li>HTML5</li>
                    <li>CSS/SASS</li>
                    <li>JavaScript, AngularJS</li>
                    <li>Git, Jira</li>
                </ul>
            </div>
        </div>

        <div class="c-portfolio o-layout no-gutter">
            <div class="o-layout_item c-portfolio_img-sq u-2/6@lg">
                <img src="/assets/img/smile-logo.svg" alt="Smile bank logo" width="200">
            </div>
            <div class="o-layout_item c-portfolio_body-sq u-3/6@lg u-4/6@sm">
                <h2>Smile</h2>
                <p>Here is a <a href="www.github.com">link to the github repository</a></p>
            </div>
            <div class="o-layout_item c-portfolio_body-sq u-2/6@sm u-1/6@lg">
                <ul>
                    <li>Here is</li>
                    <li>a list of</li>
                    <li>skills that</li>
                    <li>I used</li>
                </ul>
            </div>
        </div>

        <div class="c-portfolio o-layout no-gutter">
            <div class="o-layout_item c-portfolio_img-sq u-2/6@lg">
                <img src="/assets/img/james-holiday.jpg" alt="Me on holiday">
            </div>
            <div class="o-layout_item c-portfolio_body-sq u-3/6@lg u-4/6@sm">
                <p>Here is some example text about the project I worked on</p>
                <p>Here is a <a href="www.github.com">link to the github repository</a></p>
            </div>
            <div class="o-layout_item c-portfolio_body-sq u-2/6@sm u-1/6@lg">
                <ul>
                    <li>Here is</li>
                    <li>a list of</li>
                    <li>skills that</li>
                    <li>I used</li>
                </ul>
            </div>
        </div>
    </div>

    {% include "partials/footer.html" %}

{% endblock %}
