<{% extends "./layouts/layout.html" %}

{% block content %}

    {% include "partials/header.html" %}

    <div class="o-container">
        <div class="c-portfolio">
            <div class="c-portfolio_img-sq u-2/6@lg">
                <a href="http://www.co-operativebank.co.uk/" target="_blank"><img src="/assets/img/coop-bank-white.svg" alt="Co-operative bank logo"></a>
            </div>
            <div class="c-portfolio_body-sq u-4/6@lg">
                <h2 class="u-text-brand-white"><a href="http://www.co-operativebank.co.uk/" target="_blank">The Co-operative Bank</a></h2>
                <div class="o-layout">
                    <div class="o-layout_item u-3/6@sm">
                        <ul>
                            <li>HTML5 - using an exisiting codebase to create pages for the website</li>
                            <li>CSS/SASS - making amends to and creating new components</li>
                            <li>JavaScript - writing vanilla JS, OOJS, and searching for and adding lightweight plugins</li>
                            <li>Git/Bitbucket</li>
                            <li>Agile methodologies - Scrum and Kanban at different stages of the project</li>
                        </ul>
                    </div>
                    <div class="o-layout_item u-3/6@sm">
                        <ul>
                            <li>AngularJS - creating components as directives</li>
                            <li>Gulp - writing scripts and shared amongst team to perform tasks and deployments</li>
                            <li>Using a screenreader to audit the site and make improvements for accessibility</li>
                            <li>Using Jira to manage workflow</li>
                            <li>Taking responsibility to deploy any updates to the website</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="c-portfolio">
            <div class="c-portfolio_img-sq u-2/6@lg">
                <a href="http://www.smile.co.uk/" target="_blank"><img src="/assets/img/smile-logo.svg" alt="Smile bank logo" width="200"></a>
            </div>
            <div class="c-portfolio_body-sq u-4/6@lg">
                <h2 class="u-text-brand-white"><a href="http://www.smile.co.uk/" target="_blank">Smile bank</a></h2>
                <div class="o-layout">
                    <div class="o-layout_item u-3/6@sm">
                        <ul>
                            <li>HTML5 - using an exisiting codebase to create pages for the website</li>
                            <li>CSS/SASS - making amends to and creating new components</li>
                            <li>JavaScript - writing vanilla JS, OOJS, and searching for and adding lightweight plugins</li>
                            <li>Git/Bitbucket</li>

                        </ul>
                    </div>
                    <div class="o-layout_item u-3/6@sm">
                        <ul>
                            <li>Agile methodologies - Scrum and Kanban at different stages of the project</li>
                            <li>VueJS - creating components as directives</li>
                            <li>Gulp - writing scripts and shared amongst team to perform tasks and deployments</li>
                            <li>Using Jira to manage workflow</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="c-portfolio">
            <div class="c-portfolio_img-sq u-2/6@lg">
                <a href="./bank-emails/confirmation-email.html" target="_blank"><img src="/assets/img/email-thumbnail.jpg" alt="Coop bank email"></a>
            </div>
            <div class="c-portfolio_body-sq u-4/6@lg">
                <h2 class="u-text-brand-white"><a href="./bank-emails/confirmation-email.html" target="_blank">HTML email for Co-op Bank</a></h2>
                <div class="o-layout">
                    <div class="o-layout_item u-3/6@sm">
                        <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Testing cross browser and device - manually and with Litmus</li>
                        </ul>
                    </div>
                    <div class="o-layout_item u-3/6@sm">
                        <ul>
                            <li>Research into the best way to develop email for popular and outdated email clients</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "partials/footer.html" %}

{% endblock %}
