<{% extends "./layouts/layout.html" %}

{% block content %}

    {% include "partials/header.html" %}

    <div class="o-container">
        <div class="c-portfolio">
            <div class="c-portfolio_img-sq u-2/6@lg">
                <a href="http://www.co-operativebank.co.uk/" target="_blank"><img src="/assets/img/coop-bank-white.svg" alt="Co-operative bank logo"></a>
            </div>
            <div class="c-portfolio_body-sq u-4/6@lg">
                <h2 class="u-text-brand-white"><a href="http://www.co-operativebank.co.uk/" target="_blank">The Co-operative Bank</a></h2>
                <div class="o-layout no-gutter">
                    <div class="o-layout_item u-3/6@sm">
                        <ul>
                            <li>HTML5 - semantic and accessible</li>
                            <li>CSS/SASS</li>
                            <li>JavaScript - writing vanilla JS, searching for and adding lightweight plugins</li>
                            <li>Git/Bitbucket - version control</li>
                        </ul>
                    </div>
                    <div class="o-layout_item u-3/6@sm">
                        <ul>
                            <li>AngularJS - creating components as directives</li>
                            <li>Gulp - writing scripts and shared amongst team to perform tasks and deployments</li>
                            <li>Using a screenreader to audit the site </li>
                            <li>Git, Jira</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="c-portfolio">
            <div class="c-portfolio_img-sq u-2/6@lg">
                <a href="http://www.smile.co.uk/" target="_blank"><img src="/assets/img/smile-logo.svg" alt="Smile bank logo" width="200"></a>
            </div>
            <div class="c-portfolio_body-sq u-4/6@lg">
                <h2 class="u-text-brand-white"><a href="http://www.smile.co.uk/" target="_blank">Smile</a></h2>
                <div class="o-layout no-gutter">
                    <div class="o-layout_item u-3/6@sm">
                        <ul>
                            <li>HTML5</li>
                            <li>CSS/SASS</li>
                            <li>JavaScript</li>
                            <li>Git/Bitbucket - version control</li>
                        </ul>
                    </div>
                    <div class="o-layout_item u-3/6@sm">
                        <ul>
                            <li>VueJS - creating components as directives</li>
                            <li>CSS/SASS</li>
                            <li>JavaScript, AngularJS</li>
                            <li>Git, Jira</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="c-portfolio">
            <div class="c-portfolio_img-sq u-2/6@lg">
                <a href="./bank-emails/confirmation-email.html" target="_blank"><img src="/assets/img/email-thumbnail.jpg" alt="Coop bank email"></a>
            </div>
            <div class="c-portfolio_body-sq u-4/6@lg">
                <h2 class="u-text-brand-white"><a href="./bank-emails/confirmation-email.html" target="_blank">HTML email for Co-op Bank</a></h2>
                <div class="o-layout no-gutter">
                    <div class="o-layout_item u-3/6@sm">
                        <ul>
                            <li>HTML5</li>
                            <li>CSS/SASS</li>
                            <li>JavaScript</li>
                            <li>Git/Bitbucket - version control</li>
                        </ul>
                    </div>
                    <div class="o-layout_item u-3/6@sm">
                        <ul>
                            <li>VueJS - creating components as directives</li>
                            <li>CSS/SASS</li>
                            <li>JavaScript, AngularJS</li>
                            <li>Git, Jira</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "partials/footer.html" %}

{% endblock %}
