<footer class="c-footer">
    <div class="o-container">
        <div class="o-layout">
            <div class="o-layout_item u-4/6@md">
                <ul class="c-footer_list">
                    <li><a href="tel:+447522034391">07522034391</a></li>
                    <li><a href="mailto:james.hollands0190@gmail.com">james.hollands0190@gmail.com</a></li>
                    <li><a href="https://twitter.com/hollanthropist" target="_blank">@hollanthropist</a></li>
                </ul>
            </div>
            <div class="o-layout_item u-2/6@md">
                <p class="u-text-right">©2017 James Hollands</p>
            </div>
        </div>
    </div>
</footer>
