<footer class="c-footer">
    <div class="o-container">
        <div class="c-footer_list">
            <div class="c-footer_list-contact">
                <ul>
                    <li><a href="tel:+447522034391">07522034391</a></li>
                    <li><a href="mailto:james.hollands@metajames.co.uk">james.hollands@metajames.co.uk</a></li>
                    <li><a href="https://twitter.com/hollanthropist" target="_blank">@hollanthropist</a></li>
                </ul>
            </div>
            <div class="c-footer_list-copyright">
                <p>©2017 James Hollands</p>
            </div>
        </div>
    </div>
</footer>
