    <header class="o-container">
        <div class="c-navbar">
            <div class="c-navbar_logo">
                <p class="u-text-brand-white u-mb0"><a href="#">metajames <span class="u-text-brand-light-grey">web dev</span></a></p>
            </div>
            <nav class="c-navbar_nav">
              <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="skills-and-work-history.html">Skills and work history</a></li>
                <li><a href="portfolio/index.html">Portfolio</a></li>
              </ul>
            </nav>
        </div>
    </header>
