    <header class="o-container">
        <div class="c-navbar o-layout no-gutter">
            <div class="c-navbar_logo o-layout_item u-3/6@lg">
                <p class="u-text-brand-white u-mb0"><a href="/index.html">metajames <span class="u-text-brand-light-grey">web&nbsp;dev</span></a></p>
            </div>
            <div class="c-navbar_nav o-layout_item u-3/6@lg">
              <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/skills-and-work-history.html">Skills and work history</a></li>
                <li><a href="/portfolio/index.html">Portfolio</a></li>
              </ul>
          </div>
        </div>
    </header>
