$color-names: brand-dark-grey brand-light-grey brand-white brand-red brand-yellow brand-light-blue;
$color-var: $brand-dark-grey $brand-light-grey $brand-white $brand-red $brand-yellow $brand-light-blue;

@each $name in $color-names {
  $i: index($color-names, $name);
  .u-bg-#{$name} {
    background-color: nth($color-var, $i);
  }

  .u-text-#{$name} {
    color: nth($color-var, $i);
  }
}
