.c-footer {
    padding-top: 20px;
    color: $brand-light-grey;
    text-align: left;

    .right {
        p {
            text-align: left;
            @include breakpoint (md) {
                text-align: right;
            }
        }

    }
}

.c-footer_list {
    display: block;
    padding: 0 0 10px 0;
    @include breakpoint(md) {
        display: inline-block;
    }

    ul {
        list-style: none;
    }
    li {
        padding-bottom: 10px;
        @include breakpoint(md) {
            display: inline-block;
            padding: 0 20px 0 0;
        }

    }
}
