{% extends "layouts/layout.html" %}

{% block content %}

    {% include "partials/header.html" %}

    <div class="o-container">
        <div class="c-hero u-mb+" style="background-image: url('assets/img/james-holiday.jpg'); background-position: center center;" data-hover="Me enjoying a beer in Amsterdam">
            <div class="c-hero_inner c-hero--about" >

            </div>
        </div>

        <div class="o-layout u-mb+">
            <div class="o-layout_item u-3/6@md u-mb">
                <h2 class="u-text-brand-white">About</h2>
                <p>I am a front-end web developer that lives in Levenshulme, Manchester. After finishing at University of Leeds in 2011, I came to Manchester to use my degree in Human Genetics in Medical Communications, as an Editorial Assistant. I was promoted in that role to Senior Editorial Assistant, but felt like I wanted to push mysely, learn new skills and restart my career as a web developer. In 2016, I landed my first job as a front-end web developer with the Co-op Bank.</p>
            </div>
            <div class="o-layout_item u-3/6@md">
                <h2 class="u-text-brand-white">Hobbies and Interests</h2>
                <p>My favourite things: Beer, Music, Cycling and Films. On my recent trip to the Netherlands, I cycled from Amsterdam to Rotterdam, then Rotterdam to The Hague in 2 days, stopping off for beers and food at various pubs along the way. The end game was to go to Rewire festival in The Hague, where you are likely to hear anything from Jazz to Techno. I also enjoy playing the piano and I am trying to learn how to DJ.</p>
            </div>
        </div>
    </div>



    {% include "partials/footer.html" %}

{% endblock %}
