<!DOCTYPE html>
<html>
  <head>
    <title>James Hollands | Front-end web developer</title>
    <meta charset="utf-8">
    <meta name="description" content="test site">
    <meta name="author" content="James Hollands">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
<body>

    <div class="c-navbar">
        <div class="c-navbar_logo">
            <a href="#"><h1 class="u-text-brand-orange">metajames</h1></a>
        </div>
        <nav class="c-navbar_nav">
          <h2 class="navheader slide-trigger"><img src="assets/img/icons/menu.svg" alt=""></h2>
          <ul class="navigation group">
            <li></li>
            <li><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav>
    </div>

    <div class="c-hero" >
        <div class="o-container c-hero_inner">
            <h1>Front-end web developer</h1>
            <p class="u-lede">I am James. I am a front-end web developer based in Manchester, UK</p>

        </div>

    </div>

    <div class="c-shelf" id="about">
        <div class="o-container">
            <div class="o-layout">
                <div class="o-layout_item">
                    <h2>About</h2>
                    <p class="u-lede">A little on my background</p>
                </div>
            </div>
        </div>
    </div>

      <div class="o-container c-circle-row">
          <div class="c-circle-row_row">
              <div class="c-circle-row_col left">
                  <h3>Love</h3>
                  <p>Music (everything from techno to jazz), DJing, playing piano, craft beer, cycling, Nottingham&nbsp;Forest</p>

                  <h3>Uni</h3>
                  <p>Went to Uni of Leeds to study Human Genetics. Was president of a society: the Union&nbsp;Music&nbsp;Library</p>
              </div>
              <div class="c-circle-row_col center">
                  <img class="c-cirlce-row_img" src="assets/img/web-dev-code.jpg" alt="web dev code">
              </div>
              <div class="c-circle-row_col right">
                  <h3>Prev Exp</h3>
                  <p>In 2011, I started working in Manchester as an Editorial Assistant in Med Comms (mostly proofreading scientific papers, websites and print). My ambition got the better of me so...</p>

                  <h3>Web Dev Exp</h3>
                  <p>...I worked my butt off to learn web development, and hey presto, I got my first job at the Co-op Bank in January 2016! <a href="#skills">Check out my skills</a></p>
              </div>
          </div>
      </div>

      <div class="c-shelf" id="skills">
          <div class="o-container">
              <div class="o-layout">
                  <div class="o-layout_item">
                      <h2>Skills</h2>
                      <p class="u-lede">Technologies that I use on a day-to-day-basis</p>
                  </div>
              </div>
          </div>
      </div>

      <div class="o-container u-pt">
          <div class="o-layout u-mt++ u-mb++">
              <div class="o-layout_item u-3/6@sm u-2/6@lg u-mb">
                    <div class="c-card">
                        <img class="c-card_img u-mt--" src="assets/img/HTML5.png" alt="HTML5 logo">
                        <div class="c-card_body">
                            <h3>HTML5</h3>
                            <p class="u-text-lighter">Writing semantic HTML5, with an eye for accessibility, and using frameworks such as Bootstrap and Zurb Foundation</p>
                        </div>
                    </div>
              </div>
              <div class="o-layout_item u-3/6@sm u-2/6@lg u-mb">
                  <div class="c-card">
                      <img class="c-card_img u-mt--" src="assets/img/sass.png" alt="CSS logo">
                      <div class="c-card_body">
                          <h3>CSS3/Sass</h3>
                          <p class="u-text-lighter">Using CSS and preprocessor Sass.</p>
                      </div>
                  </div>
              </div>
              <div class="o-layout_item u-3/6@sm u-2/6@lg u-mb">
                  <div class="c-card">
                      <img class="c-card_img u-mt--" src="assets/img/js.png" alt="JS logo">
                      <div class="c-card_body">
                          <h3>JavaScript</h3>
                          <p class="u-text-lighter">Vanilla JS and JQuery. Some experience with Angular and VueJS. Building on my knowledge of OOP</p>
                      </div>
                  </div>
              </div>
              <div class="o-layout_item u-3/6@sm u-2/6@lg u-mb">
                  <div class="c-card">
                      <img class="c-card_img u-mt--" src="assets/img/gulp.png" alt="Gulp logo">
                      <div class="c-card_body">
                          <h3>Gulp</h3>
                          <p class="u-text-lighter">Writing scripts to automate processes. From compiling Sass, to preparing a project for deployment.</p>
                      </div>
                  </div>
              </div>
              <div class="o-layout_item u-3/6@sm u-2/6@lg u-mb">
                  <div class="c-card">
                      <img class="c-card_img u-mt--" src="assets/img/github.png" alt="Gulp logo">
                      <div class="c-card_body">
                          <h3>Github</h3>
                          <p class="u-text-lighter">Using version control, including Github and Bitbucket. </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="c-shelf" id="portfolio">
          <div class="o-container">
              <div class="o-layout">
                  <div class="o-layout_item">
                      <h2>Portfolio</h2>
                      <p class="u-lede">Here are a few examples of things I have worked on</p>
                  </div>
              </div>
          </div>
      </div>

      <div class="o-container u-pt">
          <div class="o-layout u-mt++ u-mb++">
              <div class="o-layout_item u-3/6@sm u-2/6@lg u-mb">
                    <div class="c-card">
                        <img class="c-card_img u-mt--" src="assets/img/HTML5.png" alt="HTML5 logo">
                        <div class="c-card_body">
                            <h3>HTML5</h3>
                            <p class="u-text-lighter">Writing semantic HTML5, with an eye for accessibility, and using frameworks such as Bootstrap and Zurb Foundation</p>
                        </div>
                    </div>
              </div>
              <div class="o-layout_item u-3/6@sm u-2/6@lg u-mb">
                  <div class="c-card">
                      <img class="c-card_img u-mt--" src="assets/img/sass.png" alt="CSS logo">
                      <div class="c-card_body">
                          <h3>CSS3/Sass</h3>
                          <p class="u-text-lighter">Using CSS and preprocessor Sass.</p>
                      </div>
                  </div>
              </div>
              <div class="o-layout_item u-3/6@sm u-2/6@lg u-mb">
                  <div class="c-card">
                      <img class="c-card_img u-mt--" src="assets/img/js.png" alt="JS logo">
                      <div class="c-card_body">
                          <h3>JavaScript</h3>
                          <p class="u-text-lighter">Writing vanilla JS, but also able to use frameworks such as JQuery. Some experience with Angular 1 and VueJS.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <footer class="c-footer" id="contact">
          <div class="o-container">
              <h2>Get In Touch</h2>
              <div class="o-layout">
                  <div class="o-layout_item u-2/6@md">
                      <p><a href="tel:+447522034391" class="u-text-brand-white">07522034391</a></p>
                  </div>
                  <div class="o-layout_item u-2/6@md">
                      <p><a href="mailto:james.hollands0190@gmail.com" class="u-text-brand-white">james.hollands0190@gmail.com</a></p>
                  </div>
                  <div class="o-layout_item u-2/6@md">
                      <p><a href="https://twitter.com/hollanthropist" target="_blank" class="u-text-brand-white">@hollanthropist</a></p>
                  </div>
                  <div class="o-layout_item u-2/6@md">
                      <p><a href="assets/files/JamesHollands.docx" class="u-text-brand-white">Download a copy of my CV</a></p>
                  </div>

              </div>
                <hr class="c-footer_rule">
              <p>©2017 James Hollands</p>
          </div>
      </footer>


      <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
      <script src="assets/js/script.js"> </script>

  </body>
</html>
