{% extends "layouts/layout.html" %}

{% block content %}

    {% include "partials/header.html" %}

    <div class="o-container">

        <div class="o-layout u-mb+">
            <div class="o-layout_item u-6/6">
                <h2 class="u-text-brand-white">Web Dev Skills</h2>
            </div>
            <div class="o-layout_item u-4/6@md u-mb">
                <h3>Skills I use on a day-to-day basis:</h3>
                <ul class="c-skills-list">
                    <li>HTML5/Bootstrap</li>
                    <li>CSS/Sass</li>
                    <li>JavaScript/JQuery</li>
                    <li>Grunt/Gulp - including writing scripts</li>
                    <li>Agile methodologies - experience of both Scrum and Kanban</li>
                    <li>Version control - Github and Bitbucket</li>
                    <li>Manual Testing across devices and browsers - Litmus for HTML emails</li>
                    <li>Daily live deployments</li>
                </ul>
            </div>
            <div class="o-layout_item u-2/6@md">
                <h3>Knowledge of:</h3>
                <ul class="c-skills-list">
                    <li>JS libraries VueJS, Angular, Node</li>
                    <li>OOJS</li>
                    <li>WebPack</li>
                    <li>AJAX</li>
                    <li>Automated testing</li>
                    <li>AWS/Jenkins, running local servers with Node JS, Apache and Microsoft IIS</li>
                    <li>Buying domains, releasing websites</li>
                    <li>Setting up a Wordpress site</li>
                    <li>Photoshop/GIMP</li>
                    <li>Test driven development</li>

                </ul>
            </div>
        </div>

        <div class="o-layout u-mb+">
            <div class="o-layout_item u-6/6">
                <h2 class="u-text-brand-white">Work History</h2>
            </div>
            <div class="o-layout_item u-4/6@md u-mb">
                <h3>Co-op Bank, January 2016 - Present</h3>
                <p class="u-mb+">Working to update <a href="http://www.co-operativebank.co.uk/" target="_blank">www.co-operativebank.co.uk</a> and <a href="http://www.smile.co.uk/" target="_blank">www.smile.co.uk</a>
                <p>Please <a href="/assets/files/JamesHollands.docx">download a copy of my CV</a> for more info on my previous work experience</p>
            </div>
        </div>
    </div>

    {% include "partials/footer.html" %}

{% endblock %}
