{% extends "layouts/layout.html" %}

{% block content %}

    {% include "partials/header.html" %}

    <div class="o-container">
        <div class="c-hero u-3/6@md" style="background-image: url(assets/img/hero-office.jpeg);">
            <div class="c-hero_inner" >

            </div>
        </div>

        <div class="o-layout u-mb+">
            <div class="o-layout_item u-3/6@md u-mb">
                <h2 class="u-text-brand-white">Web Dev Skills</h2>
                <p>Skills I use on a day-to-day basis:</p>
                <ul>
                    <li>HTML5 - including using frameworks such as Bootstrap. Responsive development.</li>
                    <li>CSS/Sass</li>
                    <li>JavaScript/JQuery - including building components for a bespoke framework in VueJS and Angular, adding plugins.</li>
                    <li>Grunt/Gulp - choosing the best modules to run tasks and writing scripts for the team.</li>
                    <li>Agile metehodology and Atlassian workflow tools such as Jira and Bitbucket.</li>
                    <li>Version control with Git.</li>
                    <li>Saving images as the correct file type and fize size for web.</li>
                    <li>Manually testing my own and colleagues' work on a range of devices and browsers. Raising bugs and writing tests.</li>
                    <li>Live deployments almost daily - following protocol to make sure that releases happen without error.</li>
                </ul>
            </div>
            <div class="o-layout_item u-3/6@md u-mb">
                <p>Knowledge of:</p>
                <ul>
                    <li>Automated testing.</li>
                    <li>Oject-oriented JavaScript.</li>
                    <li>WebPack.</li>
                    <li>Server-side JS - Node.</li>
                    <li>Buying domains, releasing websites.</li>
                    <li>Setting up a Wordpress site.</li>
                </ul>
            </div>
        </div>
    </div>

    {% include "partials/footer.html" %}

{% endblock %}
