$brand-red:    #FF0103;
$brand-yellow:        #FFFF9E;
$brand-light-blue:     #00D8E2;
$brand-dark-grey:        #2A2925;
$brand-light-grey:    #AAAAAA;
$brand-white:        #FEFEFC;

body {
    background-color: $brand-dark-grey;
}
